html{
	height: 100%;
	width: 100%;
	max-width: 1440px;
	min-width: 1440px;
}

body{
	margin: 0;
	color: hsl(0, 0%, 0%);
	font-family: 'Spartan', sans-serif;
}

.body_div{
	height: 50%;
	width: 100%;
	margin-left: 14%;
	margin-top: 5%;
}

.main_div{
	display: flex;
	height: 534px;
}

.div_1{
	width: 840px;
	height: 100%;
	transition: all ease 1s;
}
.nav_item{
	margin-top: 50px;
	margin-left: 30px;
	width: 60%;
	display: flex;
	justify-content: space-around;
}
.brend{
	font-size: 24px;
	font-weight: 900;
	margin: 0 15px;
	color: hsl(0, 0%, 100%);
}
.nav{
	color: hsl(0, 0%, 100%);
	transition-duration: 0.5s;
	text-decoration: none;
	margin-top: 8px;
	margin-left: 10px;

}


/*Линия снизу*/
.nav:after{
	content: "";
	text-align: center;
	margin-top: 5px;
	display: block;
	position: relative;
	width: 0;
	margin: 5px auto;
	height: 2px; /*задаём ширину линии*/
	background-color: hsl(0, 0%, 100%);
	transition: width 0.5s ease-out; /*задаём время анимации*/
}

.nav:hover:after{
	width: 50%;
}

/*slider*/

.mySlides{
	display: block;
	width: 0;
	height: 0;
	z-index: -1;
}
.slide{
	display: none;
}
.block {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
}



.div_2{
	height: 100%;
	width: 41%;
}

.hide{
	display: none;
}
.ptext{}

.content_div_2{
	margin-left: 90px;
	margin-top: 60px;
	width: 440px;
	height: 300px;
	line-height: 1.4;
	color: hsl(0, 0%, 63%);
}
.h1text{
	font-size: 20px;
	color: hsl(0, 0%, 0%);
}
.shop_now{
	margin-left: 90px;
	margin-top: 20px;
}
.ShopNow{
	color: hsl(0, 0%, 0%);
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 12px;
	transition-duration: 0.3s;
}
.arrow{
	transition-duration: 0.5s;
}
.arrow:hover{
	color: hsl(0, 0%, 63%);
}

.ShopNow:hover{
	color: hsl(0, 0%, 63%);
}
.ShopNow:hover .arrow{
	margin-left: 10px;
}

.slider{
	display: flex;
	flex-direction: row;
	margin-top: 55px;
}

.buy_button {
	background-color: hsl(0, 0%, 0%);
}
.button {
	height: 80px;
	width: 80px;
	border: none;
	padding: 28px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	transition-duration: 0.4s;
	cursor: pointer;
}
.button:hover{
	background-color: hsl(0, 0%, 27%);
}

.main2_div{
	display: flex;
	flex-direction: row;

}

/*div_3*/

.div_3{
	width: 100%;
	background-image: url(../images/image-about-dark.jpg);
	background-repeat: no-repeat;
}


/*div_4*/

.div_4{
	width: 1505px;
	background-repeat: no-repeat;
	font-size: 14px;
	padding: 50px;
	line-height: 1.6;
	color: hsl(0, 0%, 63%);

}
.burger_2{
	padding-bottom: 5px;
	font-size: 12px;
	letter-spacing: 5px;
	color: hsl(0, 0%, 0%);
}


/*div_5*/

.div_5{
	width: 100%;
	background-image: url(../images/image-about-light.jpg);
	background-repeat: no-repeat;
}

/*buttons*/

.but_left{}
.but_right{}